html, body {
  height: 100%;
  margin: 0;
}

section.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

div.erro {
  background-color: #FFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 985px;
}

h2 {
  color: #cdced7; /* Cor do texto */
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
